{% extends "parent.html" %}

{% block pagename %} 
    <a class="navbar-brand" href="#">Dashboard</a>
{% endblock %}

{% block username %} 
                    <li class="nav-item">
                        <a class="nav-link" href="#"> {{current_user}} </a>
                    </li>
{% endblock %}

{% block content %}

<script>
    var measuredV =  JSON.parse('{{measured_values|tojson}}');     
    console.log("full measuredV");
    console.log(measuredV);       

//loops
    function updateTableandGraph() {
        $.getJSON('api/measurments', function(data) {

            console.log('updateTable');

            // Clear the table
            $('#tableContainer').empty();
    
            // Add new rows to the table
            generateTable(data);
    
            // Update the timestamp of the latest measurement
            if (data.length > 0) {
                latestTimestamp = new Date(data[data.length - 1].timestamp);
            }
            //checkTimestamp();      

            myChart.data.labels = data.map(item => item.id);
            myChart.data.datasets[0].data = data.map(item => item.temperature);
            
            // Update the chart
            myChart.update();  
            
            //update last value

            if (data.length > 0) {
                let highestIdValue = Math.max(...data.map(item => parseInt(item.id)));
    
                // Vyhledání odpovídající teploty
                let temperatureOfHighestId = null;
                let timestampOfHighestId = null;
    
                data.forEach(item => {
                    if (parseInt(item.id) === highestIdValue) {
                        temperatureOfHighestId =  Math.round(item.temperature* 10) / 10;
                        timestampOfHighestId = item.timestamp;
                    }
                });
    
                document.querySelector('.card-title').innerText = "Poslední naměřená hodnota:";
                document.querySelector('.card-text').innerText = timestampOfHighestId + " - " + temperatureOfHighestId + " °C";
            }
        });
            console.log("right before lastRecord")
            lastSerialRecord = null;
            lastMqttRecord = null;
            $.getJSON('api/lastRecord', function(data) {
                console.log('Last serial record:', data.lastSerialRecord);
                console.log('Last MQTT record:', data.lastMqttRecord);
                lastSerialRecord = data.lastSerialRecord;
                lastMqttRecord = data.lastMqttRecord;
                document.querySelector('#last-values').innerText = "Serial: " + lastSerialRecord + " --- MQTT: " + lastMqttRecord;
            });
            /*fetch('/api/lastRecord')
                .then(response => response.json())
                .then(data => {
                    // Display the timestamps in your dashboard
                    console.log('Last serial record:', data.lastSerialRecord);
                    console.log('Last MQTT record:', data.lastMqttRecord);

                    lastSerialRecord = data.lastSerialRecord;
                    lastMqttRecord = data.lastMqttRecord;
                });*/
            }

    function checkTimestamp() {
        console.log("checkTimestamp");
        if (latestTimestamp) {
            var now = new Date();
            var differenceInSeconds = (now - latestTimestamp) / 1000;
            if (differenceInSeconds > 20) {
                // Display a warning if more than 20 seconds have passed since the latest measurement
                alert('Warning: No new value from RPi Pico for more than 20 seconds!');
            }
        }
    }
</script>

<div class="left-panel">

    <div class="card">

        <h5 class="card-title">Poslední naměřená hodnota:</h5>
        <p class="card-text"> NULL </p>
        
        <script>
            highestIdValue = Math.max(...measuredV.map(item => parseInt(item.id)));
        
            // Vyhledání odpovídající teploty
            let temperatureOfHighestId = null;
            let timestampOfHighestId = null;
        
            measuredV.forEach(item => {
                if (parseInt(item.id) === highestIdValue) {
                    temperatureOfHighestId =  Math.round(item.temperature* 10) / 10;
                    timestampOfHighestId = item.timestamp;
                }
            });
        
            document.querySelector('.card-title').innerText = "Poslední naměřená hodnota:";
            document.querySelector('.card-text').innerText = timestampOfHighestId + " - " + temperatureOfHighestId + " °C";    
        </script>

    </div>

    <div class="graph">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
        <canvas id="myChart" style="width:100%;max-width:700px"></canvas>

        <script>

            const xValues = measuredV.map(item => item.id); 
            const yValues = measuredV.map(item => item.temperature);
            
            let myChart = new Chart("myChart", {
                type: "line",
                data: {
                    labels: xValues,
                    datasets: [{
                        fill: false,
                        lineTension: 0,
                        backgroundColor: "rgba(0,0,255,1.0)",
                        borderColor: "rgba(0,0,255,0.1)",
                        data: yValues
                    }]
                },
                options: {
                    legend: {display: false},
                    scales: {
                        yAxes: [{ticks: {}}],
                    }
                }
            });

        </script>
            </div>

    <div class="card">
        <h5 class="card-title">Add temperature</h5>

        <form method="post" action="/api/data">
            <div class="add-value">
                    <input type="text" id="input-time" class="value-input" placeholder="Time" required>

                    <input type="number" id="input-temperature" class="value-input" placeholder="Temperature °C" required step="0.1" value="">

                <button type="submit" class="btn btn-outline-dark">Add</button>
            </div>
        </form>
    </div>

    <div class="card" style="margin-bottom: 100px;">
        <div class="card-body">
            <form id="timeForm">
                <div class="form-group">
                    <label for="timeInput">Period between new values - time in seconds:</label>
                    <input type="number" class="form-control" id="timeInput" name="timeInput" min="0" required>
                </div>

                <div class="form-group">
                    <label for="communicationSwitch">Communication Mode:</label><br>
                    <input type="checkbox" id="communicationSwitch" name="communicationSwitch">
                    <label for="communicationSwitch">Toggle for UART or MQTT (checked is MQTT)</label>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

    <script>
    document.getElementById('timeForm').addEventListener('submit', function(event) {
        event.preventDefault();
        var timeInSeconds = document.getElementById('timeInput').value;
        var isMQTT = document.getElementById('communicationSwitch').checked;

        if (timeInSeconds < 5 || timeInSeconds > 120) {
            alert("Please enter a number between 5 and 120");
            return;
        }

        fetch('/api/writeSerial', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                time: timeInSeconds,
                isMQTT: isMQTT
            })
        });
    });
    </script>   

</div>

<script>

    window.onload = function() {
        var now = new Date();
        var year = now.getFullYear();
        var month = ("0" + (now.getMonth() + 1)).slice(-2); // Months are zero-based
        var day = ("0" + now.getDate()).slice(-2);
        var hour = ("0" + now.getHours()).slice(-2);
        var minute = ("0" + now.getMinutes()).slice(-2);
        var second = ("0" + now.getSeconds()).slice(-2);
        var currentTime = year + "-" + month + "-" + day + " " + hour + ":" + minute + ":" + second;

        document.getElementById('input-time').value = currentTime;
    }

    document.querySelector('form').addEventListener('submit', function(event) {
        event.preventDefault();
    
        var time = document.getElementById('input-time').value;
        var temp = document.getElementById('input-temperature').value;

        var data = {
            timestamp: time,
            temperature: temp,
        };
    
        fetch('/api/measurments', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }).then(function(response) {
            console.log(response); // Vypíše odpověď ze serveru
            return response.json();
        }).then(function(data) {
            console.log(data);
            location.reload();
        }).catch(function(error) {
            console.error('Error:', error);
        });
    });
</script>


<div class="right-panel">
    <div class="table">

        <script src="/static/generateTable.js"></script>
        <div id="tableContainer"></div>

    </div>

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Select number of records</h5>
            <input type="number" id="deleteData">
            <button id="deleteButton" >Delete oldest records</button>
            <button id="showButton">Show recent records</button>

            
            <script>

                document.getElementById('deleteButton').addEventListener('click', function() {
                    deleteData();
                });

                function deleteData() {
                    var measuredV =  JSON.parse('{{measured_values|tojson}}');     
                    var deletecount = parseInt(document.getElementById('deleteData').value);
                
                    if (deletecount < 1 || deletecount > measuredV.length) {
                        alert("Please enter a number between 1 and " +  measuredV.length);
                        return;
                    }
                
                    fetch('/api/measurments/' + deletecount, {
                        method: 'DELETE'
                    }).then(function(response) {
                        return response.json();
                    }).then(function(data) {
                        console.log(data);
                        // Call updateTable with the number of deletions
                        updateTableandGraph();  
                    }).catch(function(error) {
                        console.error('Error:', error);
                    });
                }

                $(document).ready(function() {
                    var intervalId;  // Declare a variable to hold the interval ID
                    var isShowButtonClicked = false;  // Flag to track whether the show button has been clicked
            
                    // Update the table every 20 seconds
                    intervalId = setInterval(updateTableandGraph, 5000);
            
                    document.getElementById('showButton').addEventListener('click', function() {
                        var showcount = parseInt(document.getElementById('deleteData').value);
            
                        if (showcount < 1 || showcount >  measuredV.length) {
                            alert("Please enter a number between 1 and " +  measuredV.length);
                            return;
                        }

                        if (!isShowButtonClicked) {
                            // If the show button is clicked for the first time, stop the updates and show the selected records
                            
                            $.getJSON('api/measurments', function(data) {
                                // Clear the table
                                $('#tableContainer').empty();
                                var showMeasuredV = data.slice(-showcount);
                                generateTable(showMeasuredV);

                            });
                            clearInterval(intervalId);
                            isShowButtonClicked = true;

                            showButton.style.backgroundColor = "#555";

                        } else {
                            // If the show button is clicked again, show all records and resume the updates
                            updateTableandGraph();
                            intervalId = setInterval(updateTableandGraph, 5000);
                            isShowButtonClicked = false;
                            showButton.style.backgroundColor = "#0056b3";
                        }
                    });
                });;
        </script>

        </div>
    </div>
    <div class="card" style="margin-top: 110px;">
        <div class="card-header">
            Poslední naměřená hodnota serial a mqtt
        </div>
        <div class="card-body">
            <p id="last-values" class="card-text"> Unknown </p>
        </div>
    </div>
</div>

{% endblock %}
