<!doctype html>
<html>
<head>
    <title>NSI App</title>
    <!-- Bootstrap https://getbootstrap.com-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
    
    <style>
        body {
            color: rgb(197, 197, 186);
        }
    </style>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div id="pagename">{% block pagename %} 
                <a class="navbar-brand" href="#">Název stránky</a>
            {% endblock %}</div>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>     <!---tenhle button je pro mobily ttd--->
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                
                <div id="username">{% block username %} 
                    <li class="nav-item">
                        <a class="nav-link" href="#">Název přihlášeného uživatele</a>
                    </li>
                    {% endblock %}</div>
                
                <li class="nav-item">

                    {% if logged_in == false %}
                        <a class="nav-link" id="loginNavbar" href="/login">Log in</a>
                    {% else %}
                        <a class="nav-link" id="logoutNavbar" href="/">Log out</a>
                    {% endif %}

                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">Dashboard</a>
                </li>
            
            </ul>
        </div>
    </nav>

    <div id="content">{% block content %} 

    {% endblock %}</div>

</body>
</html>
